Implementierung/familytree.dtd

<?xml version="1.0" encoding="UTF-8" ?>
        <!ELEMENT familytree (person, inlaw*)>

        <!ELEMENT person (person*)>
        <!ATTLIST person  pid ID #REQUIRED
                forename CDATA #REQUIRED
                surname CDATA #REQUIRED
                sex (M|F) #REQUIRED
                birth_date CDATA #IMPLIED
                death_date CDATA #IMPLIED
                partner IDREF #IMPLIED>

        <!ELEMENT inlaw EMPTY>
        <!ATTLIST inlaw  pid ID #REQUIRED
                forename CDATA #REQUIRED
                surname CDATA #REQUIRED
                sex (M|F) #REQUIRED
                birth_date CDATA #IMPLIED
                death_date CDATA #IMPLIED>
