Implementierung/familytree.dtd

<?xml version="1.0" ?>
        <!ENTITY % personattributes "
                pid ID #REQUIRED
                forename CDATA #REQUIRED
                surname CDATA #REQUIRED
                sex (M|F) #REQUIRED
                birth_date CDATA #IMPLIED
                death_date CDATA #IMPLIED">

        <!ELEMENT familytree (person, partner*)>

        <!ELEMENT person (person*)>
        <!ATTLIST person %personattributes;
                partner IDREF #IMPLIED>

        <!ELEMENT partner EMPTY>
        <!ATTLIST partner %personattributes;>
